/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap'); */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --width: 250px;
    --height: 260px;
    --i-width: calc(var(--height)*0.25 - 23px);
}

@media only screen and (min-width:64.1875em){
    video{
       height: 100%;
       width: 100%;
    }
   
}
@media only screen and (min-width:46.1875em) and (max-width:63.9375em){
    video{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        height: 100%;
        display: block;
    }
}
@media only screen and (max-width:46.1875em){
    video{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        height: 100%;
        display: block;
    }
   
}
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
    overflow: hidden;
}
body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#E91e63, #FF0);
    clip-path: circle(22% at 30% 22%);
    z-index: -1;
}
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFF, #DA00FF);
    clip-path: circle(25% at 70% 80%);
    z-index: -1;
}
.container {
    position: fixed;
    transform-style: preserve-3d;

    display: none;

    z-index: 99;
   
    
}
@keyframes move{
    0%   {
        transform: scale(0);
        /* opacity: 0; */
        border-radius: 50%;
    }
  25%  {
    transform: scale(0.20);
    /* opacity: 0.3; */
    border-radius: 25%;
}
  50%  {
    transform: scale(0.50);
    /* opacity: 0,6; */
}
75%  {
    transform: scale(0.75);
    /* opacity: 0,6; */
}
  100% {
    transform: scale(1);
    /* opacity: 1; */
}
}
.container.move{
    animation: move linear 1.5s;
    display: block;
}
.container::before{
    content: "";
    position: absolute;
    top:-2px;
    left: -2px;
    width:calc(100% + 5px) ;
    height: calc(100% + 5px);
    border:3px solid linear-gradient(45deg,#e6fb04,#00ff66,#00ffff,#ff00ff
    ,#ff0099,#6e0dde,#ff3300,#099fff);
    /* background: linear-gradient(45deg,#e6fb04,#00ff66,#00ffff,#ff00ff
    ,#ff0099,#6e0dde,#ff3300,#099fff); */
    animation: animate 20s linear infinite;
    background-size: 400%;
    /* background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent); */
    z-index: -1;
    
}
/* .container::after{
    content: "";
    position: absolute;
    
    inset: 3px;
} */
@keyframes animate{
    0%{
        /* transform: translate(-50%,-50%) rotate(0deg); */

        background-position: 0 0;
    }
    50%{
        background-position:100% 0;
    }
    100%{
        /* transform: translate(-50%,-50%) rotate(360deg); */
        background-position: 0 0;
    }
}
.card {
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(9px);
    border-top: 1px solid #FFF2;
    border-left: 1px solid #FFF2;
    box-shadow: 4px 4px 12px #0004;
   
  
    color: #FFF;
    overflow: hidden;
    transition: transform 0.7s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 1s linear;
}
.card.move{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0px;
    
}
.card.move .imgbox{
    transform: translateY(0);
}
.card.move.card:before{
    opacity: 0;
}
.card::before {
    content: '';
    position: absolute;
    left: -99%;
    width: 70px;
    height: 400px;
    background-color: #FFFB;
    transform: rotate(38deg) translateY(-25%);
    z-index: 1;
}
.container:hover .card:before {
    animation: brightness 0.8s 1 forwards;
}
@keyframes brightness {
    0% {
        left: -99%;
    }
    100% {
        left: 120%;
    }
}
.imgbox {
    width: 115px;
    height: 115px;
    border: 5px solid transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.533);
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    transition: 1s;
    transform: translateY(10px);
}
.imgbox:hover{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    transform: translateY(0px);
}
.imgbox:hover.card{
    padding: 0;
}
.imgbox img {
    width: 100%;
    height: 100%;
    
}
.name-job {
    width: 100%;
    text-align: center;
    text-shadow: 1px 2px 2px #000;
    /* margin-bottom: 40px; */
    margin-top: 10px
}

.name-job h3 {
    margin-bottom: 0.1em;
}
.name-job h5 {
    color: rgb(36, 219, 36);
    line-height: 25px;
}
.info {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    padding: 7px;
    line-height: 1.8;
    font-weight: 200;
}
.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6px;
}
.skills button{
    padding: 5px 10px;
    width: 85px;
    margin: 5px;
   
   
    cursor: pointer;
}
.btn-Follow a{
    text-decoration: none;
    color: black;
}
.btn-Follow{
    background-color: rgb(36, 219, 36);
    border-radius: 1px;
    border: none;
}
.btn-Follow:hover{
    background-color:  rgb(2, 250, 2);
    
}
.btn-Message a{
    text-decoration: none;
    color: rgb(36, 219, 36);
}
.btn-Message a:hover{
    color: #000;
}
.btn-Message{
    border: 1px solid rgb(36, 219, 36);
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
}
.btn-Message:hover{
    background-color:  rgb(2, 250, 2);
    color: red;
}
.skills .fa-brands {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #FFF5;
    box-shadow: 0px 2px 4px #0008, 0px -1px 1px #FFF;
    display: grid;
    place-content: center;
    font-size: 1.22em;
    border-radius: 50%;
    transition: 0.3s;
}
.skills .fa-brands:hover {
    background-color: #FFF;
    color: #222;
}
.call {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #555;
    color: #FFF;
    border: 2px solid #FFF;
    display: grid;
    place-content: center;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s;
}
.call:focus {
    transform: rotateY(45deg) translateX(120px) translateZ(-70px);
}
.call:focus ~ .card {
    transform: rotateY(45deg) translateX(140px) translateZ(-120px);
}
.call:focus ~ .icons {
    height: var(--height);
    transform: translateZ(var(--i-width)) translateY(-50%);
}
.icon {
    position: relative;
    width: var(--i-width);
    height: var(--i-width);
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(45deg);
    transition: 0.7s;
}
.icons {
    position: absolute;
    left: 5px;
    top: 50%;
    width: var(--i-width);
    height: calc(var(--i-width)*4);
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateZ(calc(var(--i-width) * -1)) translateY(-50%);
    transform-style: preserve-3d;
}
.icon .fa-brands {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #0FF;
    border: 1px dashed #0FF;
    display: grid;
    place-content: center;
    font-size: 1.2em;
    transition: 0.5s;
}
.call:hover {
    border-color: #222;
    color: #000;
    background-color: #FC0;
}
.icon:hover {
    cursor: pointer;
    transform: rotateX(-40deg) rotateY(315deg);
}
.icon:hover .fa-brands {
    border-color: inherit;
    background-color: #FFF;
}
.icon:hover .fa-facebook-f {
    color: #0000dd;
}
.icon:hover .fa-twitter {
    color: #002fff;
}
.icon:hover .fa-youtube {
    color: #F00;
}
.icon:hover .fa-whatsapp {
    color: #0F0;
}
.front {
    transform: translateZ(calc(var(--i-width)*0.5));
}
.back {
    transform: translateZ(calc(var(--i-width)* -0.5));
}
.left {
    transform: rotateY(-90deg) translateZ(calc(var(--i-width)* 0.5));
}
.right {
    transform: rotateY(90deg) translateZ(calc(var(--i-width)* 0.5));
}
.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--i-width)* 0.5));
}
.top {
    transform: rotateX(90deg) translateZ(calc(var(--i-width)* 0.5));
}